body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
}
.all-posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 8px;
    padding: 5px;
    flex: 1 0 30%;
    margin: 10px;
    max-width: 500px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

p{
margin: 0em 0 24px 0;
}
textarea {
    resize: vertical; /* Allow only vertical resizing */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Style for the delete button */
.delete-button {
    background-color: #e74c3c; /* Red color for delete button */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 8px 16px; /* Add padding */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 14px; /* Set font size */
}

/* Hover effect for the delete button */
.delete-button:hover {
    background-color: #c0392b; /* Darker red color on hover */
}

/* Style for the delete button */
.update-button {
    background-color: #1abc9c; /* Red color for delete button */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 8px 16px; /* Add padding */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 14px; /* Set font size */
}

/* Hover effect for the delete button */
.update-button:hover {
    background-color: #16a085; /* Darker red color on hover */
}

/* Optional: Style the div to make it look clickable */
.post-link {
    color: inherit; /* Use the inherited color */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Use pointer cursor on hover */
    transition: box-shadow 0.3s ease;
}

.post:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.content {
    display: block;
}
.article {
    padding-left: 25%;
    padding-right: 25%;
}
.cover-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 1px #000;
    border-radius: 8px;
    padding: 0px;
    margin: 20px 0;
    line-height: 10px;
}

img {
    display: inline-block;
}

img .cover-image {
    display: inline-block;
    border-radius: 20px;
}

.post-title {
    margin: 20px;
    color: black;
}
.post-title h2 {
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

.post-content {
    margin: 20px;
}

.post-controls {

}
.article-body {
    font-size: 16px;
    line-height: 1.8;
}

.small-thumbnail {
    margin: 20px 0 -5px 0;
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.medium-thumbnail {
    margin: 10px;
    width: 95%;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
    justify-content: center;
}

button.like_button {
    display: block;
    width: 60px;
    text-align: center;
    background-color: #28282B;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.like_button:hover {
    background-color: #000;
    color: #fff;
}

ul.no-bullets {
    list-style-type: none;
}
ul.nav-list {
    justify-content: center;
    text-align: center;
    display: flex;
}
.nav-item a {
    color: #000;
    margin: 0 20px;
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Use pointer cursor on hover */
}

.nav-item {
    font-size: 20px;
    padding:  10px 5px;
    border-bottom: 2px solid rgb(0,0,0,0);
}

.nav-item:hover {
    border-bottom: 2px solid tomato;
}
.article-meta {
    text-align: center;
}

.no-style-form {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
/* Footer container */
.footer {
    margin-top: 100px;
    color: #333; /* Text color */
    padding: 20px; /* Padding around content */
    text-align: center; /* Center-align text */
}

/* Links within the footer */
.footer a {
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove default underline */
}

/* Style for footer heading */
.footer h4 {
    margin-bottom: 10px; /* Bottom margin for heading */
}
.all-categories {
    padding-bottom: 90px;

}
.items {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ffg;
    margin: 10px 0;
    padding: 20px;
}

.item-list-controls button {
    margin: 0px;
}

.item-list-controls form{
    max-width: 500px;
    margin: 20px auto;
    padding: 0;
    border-radius: 5px;
}

.action-link {
    display: inline-flex;
    font-size: 19px;
    color: rgb(25, 103, 210);
    gap: 5px;
    white-space: nowrap;
    padding: 20px;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    background-color: rgb(25, 103, 210, 0.25);
    border: 1px solid rgb(25, 103, 210);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.action-link:hover {
    background-color: rgb(25, 103, 210, 0.3);
}
.icon {
    width: 20px;
}

.icon-color {
    fill: tomato;
}
.icon-link {
    text-decoration: None;
}
