<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="{{ url_for('static', filename='uploads/masterblog logo.png') }}" >
            <h2>MasterBlog</h2>
        </div>
        <ul>
            <li><a href="/"><img src="{{ url_for('static', filename='uploads/icons/website.png') }}" >View Blog</a></li>
            <li><a href="/posts"><img src="{{ url_for('static', filename='uploads/icons/content.png') }}" >Posts</a></li>
            <li><a href="/categories">
                <img src="{{ url_for('static', filename='uploads/icons/category.png') }}" >Categories</a></li>
        </ul>
    </div>

    <div class="content" >
        <h1>Categories</h1>
        <center><p>This category is used for developers mode. It helps developers expand the JSON data file for each blogpost</p></center>
        <a href="/new-category" class="icon-link">
            <div class="action-link">
                 <span>New Category</span>
                 <img class="icon" src="{{ url_for('static', filename='uploads/icons/icons8-plus.svg') }}" >
            </div>
        </a>
        <div class="item-list">

            {% for category in categories %}
             <div class="items">
                 <h2 class="post-title"> {{ category.title() }}</h2>

                 <div class="item-list-controls">
                     <!--Update button-->
                     <form action="/update/{{ category }}" method="post">
                        <input type="hidden" name="category" value='{{ category }}'>
                        <button class="update-button" type="submit">Update</button>
                    </form>

                    <form action="/del/{{ category }}" method="post">
                        <input type="hidden" name="category" value='{{ category }}'>
                        <button class="delete-button" type="submit">Delete</button>
                    </form>
                 </div>
             </div>
            {% endfor %}
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 My Blog. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>